<div class="intro">       
    <div class="logo"><img src="images/hlogo.png" alt="HelpTN.com" /></div>
    <div id="rotate">
      <h1>Let's save<span> Tamil Nadu</span><br>from <span>Disaster</span></h1>
   </div> 
   <p>Choose</p>
   <p><span></span><i class="fa fa-umbrella"></i><span></span></p>
   <p>Any one</p>
</div>
<nav>

	<ul class="navigation container">               
      <li class="link center middle move"><a class="btn1" href="/#/receiver">I need help</a></li>
	  <li class="link center bottom move"><a class="btn" href="/#/donor">I wish to Contribute</a></li>
    </ul>
</nav>    
<!-- 	 <div>
        <p> &copy;Copyright 2015 helptn.com</p>
      <br><br>
    </div> -->

 
	
